<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgaviria.sistur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoinicial"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CompraGaleria"
            android:theme="@style/noaction"/>
        <activity android:name=".CrearCalendario" />
        <activity android:name=".ConsultaMinutas" />
        <activity android:name=".menus.MenuPrincipal" />
        <activity android:name=".menus.OpcionesMenuPpal" />
        <activity android:name=".usuarios.CrearUsuarios" />
        <activity android:name=".GestionarCDIHCB"
            android:theme="@style/noaction"/>
        <activity android:name=".CensoLista" />
        <activity android:name=".ListarCensoPoblacion"
            android:theme="@style/noaction"/>
        <activity android:name=".usuarios.LogueoUsuarios"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".usuarios.OpcionesUsuarios"/>
        <activity android:name=".usuarios.ListarUsuarios"
            android:theme="@style/noaction"/>
        <activity android:name=".usuarios.UsuariosLista" />
        <activity android:name=".alimentos.ListarPlanAlimenticio" />
        <activity android:name=".alimentos.AlimentosLista" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CensoPoblacional" />
        <activity android:name=".RegistrarCDIHCB"
            android:theme="@style/noaction"/>
        <activity android:name=".Splash"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>